# ignore everything in the root except the "wp-content" directory.
*.*
*.log
*.sql
*.sqlite
/logs/

!wp-content/**
wp-content/*
!wp-content/themes/
!wp-content/plugins/

/wp-content/themes/twentytwenty*

