@import "variables";


.site-footer {
  p {
    margin: 0 auto 20px;
    text-align: center;
    line-height: 1.36;
  }
}

body.page-menu,
body.page-home {
  .site-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

// White footer
body.page-menu {
  .site-footer {
    color: #fff;
  }
}